.MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-input {
    padding: 6px 7px;
    color: lightgray;
}



.MuiAvatar-root {    
    width: 56px !important;
    height: 20px !important;
    font-size: .8rem !important;
    font-weight: 900!important;
    position: relative !important;
    align-items: center !important;
    display: flex !important;
    
}

.MuiAvatar-colorDefault {
    color:lightgray!important;
    background-color: #303f9f !important;
}
